.row
  .span8.chatwindow
    .chat-transcript-wrapper
      section.chat-transcript#chatbox
        .row
          .span2.span-mini.name
            | EY Bot
          .span5.span-maxi.chat-text
            | Fixie seitan occupy, messenger bag helvetica gluten-free polaroid cliche cosby sweater sartorial shoreditch quinoa.

    section.chat-entry
      .row
        .span2.span-mini.prompt
          img(src="img/chat-plus.png")
        .span5.span-maxi
          form#message-box
            textarea.new-chat

  .span4.chatmembers
    h4 Members

    ul.nav.nav-pills.nav-stacked#chatmembers-list
      li
        i.icon-user
        |  EY Bot
      li
        i.icon-user
        |  Guest (you!)
    a(href='#').btn.btn-light
      i.icon-plus-sign
      |  Add Member

#sign-in-modal.modal.hide
  .modal-header
    button(type="button", data-dismiss="modal").close
      x
    h3
      | Enter a display name to start
  .modal-body
    form#username-form
      label
        input#username(placeholder="Display name", required="yes")

      button.btn(type="submit")
        | Start Chatting
